/* Start Screen */
#root {
    -fx-background-color: black;
    -fx-min-height: 1000px;
    -fx-min-width: 1000px;
}

.button {
    -fx-min-width: 300;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.button:hover {
    -fx-border-color: white;
    -fx-border-width: 0 3 0 3;
}

#helpScreen {
    -fx-background-color: #222222;
    -fx-opacity: 0.99;
    -fx-min-width: 800;
    -fx-min-height: 600;
    -fx-padding: 50;
    -fx-border-color: white;
    -fx-border-width: 15px;
}

.helpTitleText {
    -fx-font-size: 30px;
    -fx-fill: white;
}

.helpText {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.levelMessage{
    -fx-font-size: 50px;
    -fx-fill: white;
    -fx-alignment: center;
}

.gameOver {
	-fx-font-size: 70px;
    -fx-fill: red;
    -fx-alignment: center;
}
